//colors
$blood: red;
$metal: grey;
$rotten-blood: black;
$white: white;
$gradient: linear-gradient(to bottom, #000,red 60%, grey 60%, #fff 100%);
//font for text and XO
$text-font-family: 'IBM Plex Mono', monospace;
$XO-font-family: 'Orbitron', sans-serif;
// hide or display
$display: block;
$hide: none;
//positioning an element or block 
$margin-center: auto;
$position: relative;
$center: center;
// sizing throw aways 
$sizes: 60px, 50px, 80px;

$base-color: #036;


